.music-player{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    transform: translateY(-100%);
    opacity: 0;
    display: flex;
    flex-direction: column;
    transition: .3s;
    .player-header{
        background: rgba(0, 0, 0, 0.1);
        padding: 15px;
        display: flex;
        align-items: center;
        img{
            height: 80px;
            width: 80px;
            margin-right: 15px;
        }
        .song-info{
            flex: 1;
            color: #fff;
            overflow: hidden;
            .song-name{
                font-size: 18px;
                height: 30px;
            }
            .song-artist{
                font-size: 14px;
                height: 21px;
            }
        }
        .icon-active{
            margin-right: 10px;
            opacity: .6;
            background-color: rgba(0,0,0,.1);
            background-image: url('../images/sprite_play.png');
            background-size: 38px 380px;
            border-radius: 50%;
            border: 1px solid #fff;
            height: 40px;
            width: 40px;
        }
    }
    .player-lyrics{
        flex: 1;
        overflow: hidden;
        color: #fff;
        margin: 36px 0 60px 0;
        .player-lyrics-lines{
            transition: .5s;
            .player-lyrics-line.active{
                color: #31c27c;
            }
            .player-lyrics-line{
                padding: 11px 15px 10px;
                text-align: center;
                font-size: 16px;
                color: rgba(255,255,255,0.6);
            }
        } 
    }
    .player-footer{
        position: relative;
        .icon-list{
            background-image: url('../images/sprite_play.png');
            height: 40px;
            width: 40px;
            background-position: 10px -250px;
            background-size: 37px 380px;
            background-repeat: no-repeat;
            position: absolute;
            top: -40px;
            right: 13px;
            cursor: pointer;
        }
        .progress{
            display: flex;
            align-items: center;
            .progress-bar{
                height: 2px;
                flex: 1;
                overflow: hidden;
                background-color: rgba(255, 255, 255, 0.2);
                .progress-action{
                    transform: translateX(-100%);
                    width: 100%;
                    height: 100%;
                    background-color: #31c27c;
                }
            }
            .progress-time{
                width: 55px;
                font-size: 12px;
                color: #808080;
                text-align: center;
                letter-spacing: 1px;
                padding: 12px;
            }
        }
        .actions{
            height: 65px;
            margin-top: 10px;
            a{
                padding: 10px 55px;
                margin: 0 50px;
                font-size: 20px;
                color: #fff;
                background-color: #31c27c;
                border-radius: 100px;
                text-align: center;
                display: block;
                background-image: url(../images/sprite_play.png);
                background-size: 50px 405px;
                background-position: 5px -343px;
                background-repeat: no-repeat;
            }
        }
    }
}