.qq-slider{
    .qq-slider-item{
        a{
            display: block;
            img{
                width: 100%;
            }
        }
    }
    .swiper-pagination{
        .swiper-pagination-bullet{
            width: 6px;
            height: 6px;
            &-active{
                background: white;
            }
        }
    }
}